# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
*.tmp
.temp/

# Environment files
.env
.env.local

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Test files
test/
*.test